#include "Base.xcconfig"

APP_VERSION                     = $(APP_VERSION)
BUILD_NUMBER                    = $(BUILD_NUMBER)

APP_IDENTIFIER                  = $(DEVELOPMENT_IDENTIFIER)
APP_BUNDLE_DISPLAYNAME          = $(DEVELOPMENT_BUNDLE_DISPLAYNAME)
PROVISIONING_PROFILE_SPECIFIER  = $(DEVELOPMENT_PROVISIONING_PROFILE_SPECIFIER)

CODE_SIGN_IDENTITY              = $(DEVELOPMENT_CODE_SIGN_IDENTITY)
DEVELOPMENT_TEAM                = $(DEVELOPMENT_IDENTIFIER_PREFIX)

GCC_PREPROCESSOR_DEFINITIONS    = $(inherited) $(DEVELOPMENT_APP_BUILD_DEFINITION)
OTHER_SWIFT_FLAGS               = $(inherited) -D$(DEVELOPMENT_APP_BUILD_DEFINITION)
